BR2_mipsel=y
BR2_mips_32r2=y
BR2_DL_DIR="$(BR2_EXTERNAL_CDF_MT76X8_PATH)/dl"
BR2_FORCE_HOST_BUILD=y
BR2_KERNEL_HEADERS_5_4=y
BR2_BINUTILS_VERSION_2_32_X=y
BR2_GCC_VERSION_10_X=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.143"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CDF_MT76X8_PATH)/board/common/linux/.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="mt7628an_hilink_hlk-7628n"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.07"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="mt7628_rfb"
